@di-font-path: '../fonts';
@di-font-name: 'drc-icons';

<% for(var index = 0; index < glyphs.length; index++) { %>
@di-var-<%= glyphs[index] %>: '\<%= codepoints[index] %>';
<% } %>

@font-face {
	font-family: @di-font-name;
	src:url(~"@{di-font-path}/icons.eot?<%= hash %>");
	src:url(~"@{di-font-path}/icons.eot?#iefix") format("embedded-opentype"),
		url(~"@{di-font-path}/icons.woff?<%= hash %>") format("woff"),
		url(~"@{di-font-path}/icons.ttf?<%= hash %>") format("truetype");
	font-weight:normal;
	font-style:normal;
}

.drc-icon() {
	font-family: @di-font-name;
	display:inline-block;
	vertical-align:middle;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

[class*="<%= classPrefix %>"] {
    .drc-icon();
}
<% for(var index = 0; index < glyphs.length; index++) { %>
.<%= classPrefix %><%= glyphs[index] %>() {
    &:before {
        content: @di-var-<%= glyphs[index] %>;
    }
}
<% } %>
<% for(var index = 0; index < glyphs.length; index++) { %>
.<%= classPrefix %><%= glyphs[index] %> {
    .<%= classPrefix %><%= glyphs[index] %>();
}
<% } %>
